.HeaderContainer {
    margin: auto;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}
.iconDown {    
    background: transparent url(../img/FlechaAbajo.png) center no-repeat;
    width: 12px;
    height: 12px;
}
.iconoMenu {
    display:none;    
}
.VacioRight {display: block;}
header nav {
    z-index: 1000;
    display: inline-flex;
    flex-wrap: wrap;
}
@media (min-width:1356px) and (-ms-high-contrast:none)
{
*::-ms-backdrop, header nav { margin-top: 12px !important; } /* IE11 */
}
@media (min-width:861px) and (-ms-high-contrast:none)
{
*::-ms-backdrop, header nav div .children { 
    margin-left: -10px !important;
    padding: 10px 0px 0px 0px !important;
} /* IE11 */
*::-ms-backdrop, header nav div {display: inline-block !important;} /* IE11 */
*::-ms-backdrop, .iconDown {
    padding: 5px 0px;
} /* IE11 */
}

header nav div {
    margin-left: 5px;
    background-color: rgba(155,154,149,.7);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    white-space:nowrap;
    cursor: pointer;
    display: flex;
}

header nav div ul li{
    background-color: rgba(155,154,149,.7);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    white-space:nowrap;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
}

header div nav div:hover a.TituloMenu {
    color: black;
}
header div nav div ul li:hover a {
    color: #0b965b;
}
header div div:hover .iconDown {    
    background: transparent url(../img/FlechaAbajoNegro.png) center no-repeat;
    width: 12px;
    height: 12px;
}

header nav div a {
    color: white;    
    text-decoration: none;
    padding: 5px 0px;
}

header nav div a span {
    margin-right: 10px;
}

header nav div .children {
    display: none;
    padding: 30px 0px 0px 0px;
}

header nav div:hover .children {
    display: block;
    position: absolute;    
    z-index: 1000;        
}

header nav div .children li {
    display: block;
    overflow: hidden; 
}

.menu {
    font-family: "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: bold;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #60C442;
  height: 3px;
  width: 24px;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.pulseClose:hover  {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;  
}

@media screen and (max-width: 1355px) {
    .HeaderContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 860px) {
    .iconDown {display: none;}
    .VacioRight {display: none;}
    .HeaderContainer {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
    }
    
    .HeaderContainer .Titulo {
        width: 100%;
    }
    header nav {
        flex-direction: column;
    }
    header nav div {
        margin: 5px;
        text-align: inherit;
        min-width: 300px;
        max-width: 350px;
    }
    .iconoMenu {
        z-index: 999;
        display:inline-flex;
        cursor: pointer;
        margin-left: 5px;
        height: 1em;
        width: 1em;
        padding-top: 10px;
    }
    .menuHidden {        
            margin-top: -100em;                    				
    }
    .menuVisible {
            display: flex;
            margin-top: 0px;       
            width: 95%;           				
    }    
    .menuTransition {transition: all ease-in-out 1000ms;}
    header nav div:hover .children {
        display: flex;
        flex-direction: column;
        position: inherit;
        margin-left: -30px;
        background-color: transparent;
        width: auto;
    }
    header nav div .children {        
        padding: 0px;
    }
    header nav div .children li {
        text-align: left;
    }
    header nav div ul li {
        background-color: transparent;
    }
    header nav div ul li:first-child {
        margin-top: 15px;
    }
}