html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
 *{font-family: Verdana, Arial, Helvetica, sans-serif;}
  
  *, *::after, *::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  html, body {
    min-height: 100%;    
    height: 100%;
    width: 100%;
  }

  body {
    min-width: 320px;
    background-color:white;    
    font-size: 60.0%;    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
  }
  article {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    flex-basis: 100%;
  }
  
  body nav {display: none;}

  .ToolBar {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .Perfil {
    margin-left: 10px !important;
  }

  .Usuario {
    margin-right: 15px !important;
  }

  .mainContainer {
    flex-basis: 100%;
    border-left: solid 1px silver;
    border-right: solid 1px silver;    
  }

p{margin:5px 0px 5px 0px}

.Pie{padding:5px;text-align:center;}
.Pie span.P{
	background:transparent url(./escudo.png) no-repeat center left; 
	padding:5px 0px 5px 20px;
}
.Pie{border-top:solid 1px #DBDCE3;}

.HeaderContainer{    
  margin: auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

*::-ms-backdrop, .HeaderContainer{  
  margin: 10px 5px 0px 5px; /* IE 11 */
}

.HeaderContainer{min-height: 7.5em; padding:0px;}
.HeaderContainer{border-bottom:solid 2px #DBDCE3}

.HeaderContainer .Titulo{
	font-weight:bold;
	font-size:3em;
  text-align: center;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#titulo {width: 90%;}
.HeaderContainer .subTitulo{font-size: 50%;width: 100%;}

.ToolBar{color:black;width:100%;}
.ToolBar{
  background: white;
  background: -webkit-linear-gradient(left,#FFFFFF,#FFFFFF,rgba(231,245,158,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,#FFFFFF,#FFFFFF,rgba(231,245,158,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,#FFFFFF,#FFFFFF,rgba(231,245,158,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, #FFFFFF,#FFFFFF, rgba(231,245,158,1)); /*Standard*/
}
.ToolBar{border-bottom:solid 1px #DBDCE3}
.ToolBar{margin-top:0px;}
 
.ToolBar a{text-decoration:none;white-space:nowrap;cursor:pointer;padding:3px 1px 3px 4px}
.ToolBar a{margin:2px;float:Left;}
.ToolBar a.icon{color:inherit;padding-left:20px;}
.ToolBar a:hover{color:blue;}

.ToolBar div{margin:2px;display:block;white-space:nowrap;}
.ToolBar div{color:inherit;cursor:inherit;padding:3px 1px 3px 4px;}
.ToolBar div.icon{padding-left:20px;background:transparent url() no-repeat 0.1em center;}
