.mainContainer {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    padding: 0.5em 0 .25em 0.5em;
}

.flexContainer {    
    display: flex;
    flex-wrap: wrap;    
    flex-direction: column;        
}

.tituloTarea {
    font-size:1.5em;
    margin:5px 0px 5px 0px;
    padding:0px 0px 2px 0px;
    line-height:1.5em;
    border-bottom:solid 1px gray;
}

.grupoTareas {
    min-width: 29.8em;
    min-height: 14em;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;    
    flex-direction: row;
}

.G5 {min-width: 29.8em; 
    width: 29.8em; 
    min-height: 14em;
    border: solid 1px silver; 
    border-radius:.5em; 
    margin: .5em; 
    box-sizing:border-box; 
    padding: 5px 8px 5px 5px;
}

.G5-container {
    height: 11em;
}
.G5:hover{ border-color: gray; }
.G5-texto {
    width: 22em;
    margin-left: 60px;
}
.G5 h5 {margin: 0em; margin-bottom: .2em; padding-top: 5px; border: none; font-size: 1.3em; color: navy; background-color: white; background-image:none;}
.G5 h5 .task-sub-title {font-size:90%; color:red; font-weight:normal; font-style:italic;}
.G5 h5 .task-sub-title:before { content: "\A"; white-space:pre; }
.G5 a.link{ text-decoration:none; margin: 0 .5em 0 0; }
.G5-buttons { bottom: .2em; left: .2em; right: .2em; padding:.5em; border-top:solid 1px silver; text-align:right; }
.G5-image { top: .42em; bottom: .42em; left: .42em; right: .42em; }
.G5-image { width: 50px; height: 50px; background: transparent url(Dlg_S_Sheet.png) no-repeat; }    

.i_doc_info { background-position: 0 -48px }
.i_tables   { background-position: 6px -238px; }
.i_docs     { background-position: 2px -98px; }
.i_users    { background-position: 2px -191px; } 
.i_export   { background-position: 0 -339px }
.i_doc_ok   { background-position: -99px 0 }
.i_historico{ background-position: -192px -144px }
.i_admin    { background-position: -240px -144px }  
.i_send_csv { background-position: -46px -144px }

#Transaccion:hover #TransaccionConsulta {    
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#TaskCSV:hover #CSVconsulta {    
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#TaskHelp:hover .G5-buttons a, #TaskUnidades:hover .G5-buttons a, #TaskRepreROPO:hover .G5-buttons a, #TaskUsers:hover .G5-buttons a, #TaskAdmin:hover .G5-buttons a:nth-child(2) {
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}